<div id="toolbar">
    <div class="left-side flex-container">
        <img class="icons clickable" src="../../../assets/village.png" (click)="goToHome()" title="Village">
        <img class="icons clickable" src="../../../assets/pie-chart.png" (click)="goToStatistics()" title="Statistics">
        <img class="icons clickable" src="../../../assets/ancient-scroll.png" (click)="goToMessages()" title="Messages">
        <img class="icons clickable" src="../../../assets/map.png" (click)="goToMap()" title="World Map">
        <img class="icons clickable" src="../../../assets/logout.png" (click)="logout()" title="Logout">
    </div>
    <div class="right-side flex-container">
        <img class="icons" src="../../../assets/energy.png">
        <h5> {{math.floor(getEnergy())}} / {{maxEnergy}}</h5>
        <h5 *ngIf = "getEnergy() != maxEnergy" id="timeTillNextEnergy"> ( {{getTimeTillNextEnergy() | date:'mm:ss'}} )</h5>
        <img class="icons" src="../../../assets/population.png">
        <h5> {{usedPopulation}} / {{maximumPopulation}}</h5>
        <img class="icons" src="../../../assets/crop.jpg">
        <h5> {{math.floor(resources.cropAmount)}} / {{maxCropStorage}}</h5>
        <img class="icons" src="../../../assets/wood.jpg">
        <h5> {{math.floor(resources.woodAmount)}} / {{maxWoodStorage}}</h5>
        <img class="icons" src="../../../assets/rock.jpg">
        <h5> {{math.floor(resources.stonesAmount)}} / {{maxStonesStorage}}</h5>
    </div>
</div>