#toolbar {
    background: url("../../../assets/top-bg.png");
    width: 100%;
    height: 7.5vh;
    top: 0;
    z-index: 1;
    border: 2px black solid;
    position: fixed;
    display: flex;
    overflow-x: scroll;
    min-height: 75px;
    min-width: fit-content;
}

.clickable{
    cursor: pointer;
}

#toolbar::-webkit-scrollbar { 
    display: none;
}


.flex-container {
    display: flex;
    align-items: center;
    height: 100%;
    min-width: fit-content;
    overflow-x: auto;
    width: 100px;
}

.right-side {
    justify-content: flex-end;
}

.logout-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.left-side {
    margin-right: auto;
    justify-content: flex-start;
}

.icons {
    margin-right: 10px;
    margin-left: 40px;
    width: 45px;
    height: 45px;
}


h5 {
    font-variant-numeric: tabular-nums;
    min-width: fit-content;
    width: max-content;
}

#timeTillNextEnergy{
    margin-left: 5px;
}