#trainTroops {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

#troopsTraining {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}
.troopsImages{
    width: 25px;
    height: 25px;
    display: block;
    margin: 0 auto;
}
.disabledTroopsImages{
    opacity: 0.5;
}
input:disabled{
    cursor: not-allowed;
}
.troopsInput{
    width: 90px;
    padding: 2px 3px 2px 0px;
    border: 1px solid #7d5210;
    text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.attackDefenceIcons{
    width: 25px;
    height: 25px;
}

.attack{
    margin-bottom:10px;
    margin-top: 10px;
}

.attackDefence{
  display: flex;  
  justify-content: center;
}

#max{
    margin-top: 10px;
    cursor: pointer;
    text-decoration: underline;
    text-underline-position: under;
    color: green;
    text-align: center;
}
