<div id="trainTroops">
    <table id="troopsTraining">
        <tr>
            <th>
                <img class = "troopsImages" [class.disabledTroopsImages] = "isDisabled('spearFighters')" src="../../../../assets//spear.png">
            </th>
            <th>
                <img class = "troopsImages" [class.disabledTroopsImages] = "isDisabled('swordFighters')" src="../../../../assets//sword.png">
            </th>
            <th>
                <img class = "troopsImages" [class.disabledTroopsImages] = "isDisabled('axeFighters')" src="../../../../assets//axe.png">
            </th>
            <th>
                <img class = "troopsImages" [class.disabledTroopsImages] = "isDisabled('archers')" src="../../../../assets//bow.png">
            </th>
            <th>
                <img class = "troopsImages" [class.disabledTroopsImages] = "isDisabled('magicians')" src="../../../../assets//hat.png">
            </th>
            <th>
                <img class = "troopsImages" [class.disabledTroopsImages] = "isDisabled('horsemen')" src="../../../../assets//horse.png">
            </th>
            <th>
                <img class = "troopsImages" [class.disabledTroopsImages] = "isDisabled('catapults')" src="../../../../assets//trebuchet.png">
            </th>
        </tr>
        <tr>
            <td>
                <input [disabled]="isDisabled('spearFighters')" class = "troopsInput" type="number" name="spearFighters" [ngModel]="troops.spearFighters"
                 (ngModelChange)="spearFightersInputChange($event)" oninput="validity.valid||(value='');">
            <td>
                <input [disabled]="isDisabled('swordFighters')" class = "troopsInput" type="number" name="swordFighters" [ngModel]="troops.swordFighters"
                (ngModelChange)="swordFightersInputChange($event)" oninput="validity.valid||(value='');">
            </td>
            <td>
                <input [disabled]="isDisabled('axeFighters')" class = "troopsInput" type="number" name="axeFighters" [ngModel]="troops.axeFighters"
                (ngModelChange)="axeFightersInputChange($event)" oninput="validity.valid||(value='');">
            </td>
            <td>
                <input [disabled]="isDisabled('archers')" class = "troopsInput" type="number" name="archers" [ngModel]="troops.archers"
                (ngModelChange)="archersInputChange($event)" oninput="validity.valid||(value='');">
            </td>
            <td>
                <input [disabled]="isDisabled('magicians')" class = "troopsInput" type="number" name="magicians" [ngModel]="troops.magicians"
                (ngModelChange)="magiciansInputChange($event)" oninput="validity.valid||(value='');">
            </td>
            <td>
                <input [disabled]="isDisabled('horsemen')" class = "troopsInput" type="number" name="horsemen" [ngModel]="troops.horsemen"
                (ngModelChange)="horsemenInputChange($event)" oninput="validity.valid||(value='');">
            </td>
            <td>
                <input [disabled]="isDisabled('catapults')" class = "troopsInput" type="number" name="catapults" [ngModel]="troops.catapults"
                (ngModelChange)="catapultsInputChange($event)" oninput="validity.valid||(value='');">
            </td>
        </tr>
        <tr>
            <td>
                <div class="max-wrapper" *ngIf="maxPossibleTroops.spearFighters > 0 && canTrainSpearFighters">
                    <h5 id="max" (click)="maxSpearFighters()"> ({{maxPossibleTroops.spearFighters}}) </h5>
                    <div class="stats-tooltip">
                        <div class="tooltip-row"><img src="../../../../assets/swords.png" class="tooltip-icon">{{maxPossibleTroops.spearFighters * spearFighterAttackingStat}}</div>
                        <div class="tooltip-row"><img src="../../../../assets/shield.png" class="tooltip-icon">{{maxPossibleTroops.spearFighters * spearFighterDefenceStat}}</div>
                    </div>
                </div>
            </td>
            <td>
                <div class="max-wrapper" *ngIf="maxPossibleTroops.swordFighters > 0 && canTrainSwordFighters">
                    <h5 id="max" (click)="maxSwordFighters()"> ({{maxPossibleTroops.swordFighters}}) </h5>
                    <div class="stats-tooltip">
                        <div class="tooltip-row"><img src="../../../../assets/swords.png" class="tooltip-icon">{{maxPossibleTroops.swordFighters * swordFighterAttackingStat}}</div>
                        <div class="tooltip-row"><img src="../../../../assets/shield.png" class="tooltip-icon">{{maxPossibleTroops.swordFighters * swordFighterDefenceStat}}</div>
                    </div>
                </div>
            </td>
            <td>
                <div class="max-wrapper" *ngIf="maxPossibleTroops.axeFighters > 0 && canTrainAxeFighters">
                    <h5 id="max" (click)="maxAxeFighters()"> ({{maxPossibleTroops.axeFighters}}) </h5>
                    <div class="stats-tooltip">
                        <div class="tooltip-row"><img src="../../../../assets/swords.png" class="tooltip-icon">{{maxPossibleTroops.axeFighters * axeFighterAttackingStat}}</div>
                        <div class="tooltip-row"><img src="../../../../assets/shield.png" class="tooltip-icon">{{maxPossibleTroops.axeFighters * axeFighterDefenceStat}}</div>
                    </div>
                </div>
            </td>
            <td>
                <div class="max-wrapper" *ngIf="maxPossibleTroops.archers > 0 && canTrainArchers">
                    <h5 id="max" (click)="maxArchers()"> ({{maxPossibleTroops.archers}}) </h5>
                    <div class="stats-tooltip">
                        <div class="tooltip-row"><img src="../../../../assets/swords.png" class="tooltip-icon">{{maxPossibleTroops.archers * archerAttackingStat}}</div>
                        <div class="tooltip-row"><img src="../../../../assets/shield.png" class="tooltip-icon">{{maxPossibleTroops.archers * archerDefenceStat}}</div>
                    </div>
                </div>
            </td>
            <td>
                <div class="max-wrapper" *ngIf="maxPossibleTroops.magicians > 0 && canTrainMagicians">
                    <h5 id="max" (click)="maxMagicians()"> ({{maxPossibleTroops.magicians}}) </h5>
                    <div class="stats-tooltip">
                        <div class="tooltip-row"><img src="../../../../assets/swords.png" class="tooltip-icon">{{maxPossibleTroops.magicians * magicianAttackingStat}}</div>
                        <div class="tooltip-row"><img src="../../../../assets/shield.png" class="tooltip-icon">{{maxPossibleTroops.magicians * magicianDefenceStat}}</div>
                    </div>
                </div>
            </td>
            <td>
                <div class="max-wrapper" *ngIf="maxPossibleTroops.horsemen > 0 && canTrainHorsemen">
                    <h5 id="max" (click)="maxHorsemen()"> ({{maxPossibleTroops.horsemen}}) </h5>
                    <div class="stats-tooltip">
                        <div class="tooltip-row"><img src="../../../../assets/swords.png" class="tooltip-icon">{{maxPossibleTroops.horsemen * horsemenAttackingStat}}</div>
                        <div class="tooltip-row"><img src="../../../../assets/shield.png" class="tooltip-icon">{{maxPossibleTroops.horsemen * horsemenDefenceStat}}</div>
                    </div>
                </div>
            </td>
            <td>
                <div class="max-wrapper" *ngIf="maxPossibleTroops.catapults > 0 && canTrainCatapults">
                    <h5 id="max" (click)="maxCatapults()"> ({{maxPossibleTroops.catapults}}) </h5>
                    <div class="stats-tooltip">
                        <div class="tooltip-row"><img src="../../../../assets/swords.png" class="tooltip-icon">{{maxPossibleTroops.catapults * catapultsAttackingStat}}</div>
                        <div class="tooltip-row"><img src="../../../../assets/shield.png" class="tooltip-icon">{{maxPossibleTroops.catapults * catapultsDefenceStat}}</div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="attackDefence attack">
                    <img class="attackDefenceIcons" src="../../../../assets/battle.png">
                    {{spearFighterAttackingStat}}
                </div>
                <div class="attackDefence">
                    <img class="attackDefenceIcons" src="../../../../assets/shield.png">
                    {{spearFighterDefenceStat}}
                </div>
                <div class="attackDefence speed-stat">
                    <img class="attackDefenceIcons" src="../../../../assets/speed.png">
                    {{spearFighterMovementSpeed}}
                </div>
            </td>
            <td>
                <div class="attackDefence attack">
                    <img class="attackDefenceIcons" src="../../../../assets/battle.png">
                    {{swordFighterAttackingStat}}
                </div>
                <div class="attackDefence">
                    <img class="attackDefenceIcons" src="../../../../assets/shield.png">
                    {{swordFighterDefenceStat}}
                </div>
                <div class="attackDefence speed-stat">
                    <img class="attackDefenceIcons" src="../../../../assets/speed.png">
                    {{swordFighterMovementSpeed}}
                </div>
            </td>
            <td>
                <div class="attackDefence attack">
                    <img class="attackDefenceIcons" src="../../../../assets/battle.png">
                    {{axeFighterAttackingStat}}
                </div>
                <div class="attackDefence">
                    <img class="attackDefenceIcons" src="../../../../assets/shield.png">
                    {{axeFighterDefenceStat}}
                </div>
                <div class="attackDefence speed-stat">
                    <img class="attackDefenceIcons" src="../../../../assets/speed.png">
                    {{axeFighterMovementSpeed}}
                </div>
            </td>
            <td>
                <div class="attackDefence attack">
                    <img class="attackDefenceIcons" src="../../../../assets/battle.png">
                    {{archerAttackingStat}}
                </div>
                <div class="attackDefence">
                    <img class="attackDefenceIcons" src="../../../../assets/shield.png">
                    {{archerDefenceStat}}
                </div>
                <div class="attackDefence speed-stat">
                    <img class="attackDefenceIcons" src="../../../../assets/speed.png">
                    {{archerMovementSpeed}}
                </div>
            </td>
            <td>
                <div class="attackDefence attack">
                    <img class="attackDefenceIcons" src="../../../../assets/battle.png">
                    {{magicianAttackingStat}}
                </div>
                <div class="attackDefence">
                    <img class="attackDefenceIcons" src="../../../../assets/shield.png">
                    {{magicianDefenceStat}}
                </div>
                <div class="attackDefence speed-stat">
                    <img class="attackDefenceIcons" src="../../../../assets/speed.png">
                    {{magicianMovementSpeed}}
                </div>
            </td>
            <td>
                <div class="attackDefence attack">
                    <img class="attackDefenceIcons" src="../../../../assets/battle.png">
                    {{horsemenAttackingStat}}
                </div>
                <div class="attackDefence">
                    <img class="attackDefenceIcons" src="../../../../assets/shield.png">
                    {{horsemenDefenceStat}}
                </div>
                <div class="attackDefence speed-stat">
                    <img class="attackDefenceIcons" src="../../../../assets/speed.png">
                    {{horsemenMovementSpeed}}
                </div>
            </td>
            <td>
                <div class="attackDefence attack">
                    <img class="attackDefenceIcons" src="../../../../assets/battle.png">
                    {{catapultsAttackingStat}}
                </div>
                <div class="attackDefence">
                    <img class="attackDefenceIcons" src="../../../../assets/shield.png">
                    {{catapultsDefenceStat}}
                </div>
                <div class="attackDefence speed-stat">
                    <img class="attackDefenceIcons" src="../../../../assets/speed.png">
                    {{catapultsMovementSpeed}}
                </div>
            </td>
        </tr>
    </table>
