.resources-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.label {
    margin: 0;
    margin-right: 5px;
}

.resources-display {
    display: flex;
    align-items: center;
    gap: 5px;
}

.resource-icon {
    width: 30px;
    height: 30px;
}

.amount {
    margin: 0;
    margin-right: 10px;
}
