<app-building [building]="buildingInformation">
    <div extraInformation class="center">
        <div *ngIf = "nextLevelUnlock">
            <h5> Next level unlocks: {{nextLevelUnlock}} </h5>
        </div>
        <div id="trainTroops">
            <h5 class="center"> Train troops: </h5>
            <app-troops-choosing (onTroopsChange)="updateTroops($event)" [maxPossibleTroops]="maxPossibleTroops"
                [showAttack]="true" [showDefense]="true" [showBaseHints]="true" [showSpies]="false"> </app-troops-choosing>
            <app-materials-cost [materialsCost]="totalMaterialsCost"></app-materials-cost>
            <app-free-population [freePopulation]="checkFreePopulation()" [originalFreePopulation]="getOriginalFreePopulation()" noPopulationText="You can't train any troops"></app-free-population>
            <button id = "train" class ="buttons" (click)="trainTroops()" [disabled]="!canTrain()"> Train </button>
        </div>
    </div>
</app-building>