<div class = "flexContainer toolbarContainer">
    <div class="subContainer" id=production [class.has-bonus]="goldRushBonus > 0">
        <h4> Production </h4>
        <div class="production-container flex-container"> <img class="material" src="../../../assets/crop.jpg">
            <h5> Crop: {{cropProduction | number:'1.0-0'}} per hour <span class="skill-bonus" *ngIf="goldRushBonus > 0">(+{{goldRushPercent}}%)</span></h5>
        </div>
        <div class="production-container flex-container"> <img class="material" src="../../../assets/wood.jpg">
            <h5> Wood: {{woodProduction | number:'1.0-0'}} per hour <span class="skill-bonus" *ngIf="goldRushBonus > 0">(+{{goldRushPercent}}%)</span></h5>
        </div>
        <div class="production-container flex-container"> <img class="material" src="../../../assets/rock.jpg">
            <h5> Stone: {{stoneProduction | number:'1.0-0'}} per hour <span class="skill-bonus" *ngIf="goldRushBonus > 0">(+{{goldRushPercent}}%)</span></h5>
        </div>
    </div>
    <div class="subContainer" id="villages">
        <h4> Villages </h4>
        <ul>
            <li *ngFor = "let village of villages; let i = index" (click)="switchToVillage(i)" [class.active-li]="i == activeVillage">
                 <span class="village-name">{{village}}</span>
                 <span class="edit-icon" (click)="openRenameModal($event, i)" title="Rename village">✏️</span>
            </li>
        </ul>
    </div>
    <div class="subContainer" id=troops>
        <h4> Troops </h4>
        <div class="troops-container flex-container"> <img class="material" src="../../../assets/spear.png">
            <h5> Spear fighters: {{spearFighters | number}} </h5>
        </div>
        <div class="troops-container flex-container"> <img class="material" src="../../../assets/sword.png">
            <h5> Sword fighters: {{swordFighters | number}} </h5>
        </div>
        <div class="troops-container flex-container"> <img class="material" src="../../../assets/axe.png">
            <h5> Axe fighters: {{axeFighters | number}} </h5>
        </div>
        <div class="troops-container flex-container"> <img class="material" src="../../../assets/bow.png">
            <h5> Archers: {{archers | number}} </h5>
        </div>
        <div class="troops-container flex-container"> <img class="material" src="../../../assets/hat.png">
            <h5> Magicians: {{magicians | number}} </h5>
        </div>
        <div class="troops-container flex-container"> <img class="material" src="../../../assets/horse.png">
            <h5> Horsemen: {{horsemen | number}} </h5>
        </div>
        <div class="troops-container flex-container"> <img class="material" src="../../../assets/trebuchet.png">
            <h5> Catapults: {{catapults | number}} </h5>
        </div>
    </div>
    <div class="subContainer" id="clanTroops" *ngIf="hasClan">
        <h4> Support Troops </h4>
        <div class="troops-container flex-container"> <img class="material" src="../../../assets/spear.png">
            <h5> Spear: {{clanSpearFighters | number}} </h5>
        </div>
        <div class="troops-container flex-container"> <img class="material" src="../../../assets/sword.png">
            <h5> Sword: {{clanSwordFighters | number}} </h5>
        </div>
        <div class="troops-container flex-container"> <img class="material" src="../../../assets/axe.png">
            <h5> Axe: {{clanAxeFighters | number}} </h5>
        </div>
        <div class="troops-container flex-container"> <img class="material" src="../../../assets/bow.png">
            <h5> Archers: {{clanArchers | number}} </h5>
        </div>
        <div class="troops-container flex-container"> <img class="material" src="../../../assets/hat.png">
            <h5> Magicians: {{clanMagicians | number}} </h5>
        </div>
        <div class="troops-container flex-container"> <img class="material" src="../../../assets/horse.png">
            <h5> Horsemen: {{clanHorsemen | number}} </h5>
        </div>
        <div class="troops-container flex-container"> <img class="material" src="../../../assets/trebuchet.png">
            <h5> Catapults: {{clanCatapults | number}} </h5>
        </div>
    </div>
    <div class="subContainer" id="villagePower">
        <h4> Village Statistics </h4>
        <div class="troops-container flex-container"> <img class="material" src="../../../assets/swords.png">
            <h5> Attack: {{totalAttack | number}} <span class="skill-bonus" *ngIf="sharperBladesBonus > 0 && baseAttack > 0">(+{{sharperBladesPercent}}%)</span></h5>
        </div>
        <div class="troops-container flex-container"> <img class="material" src="../../../assets/shield.png">
            <h5> Defense: {{totalDefense | number}} <span class="skill-bonus" *ngIf="heroicShieldBonus > 0 && baseDefense > 0">(+{{heroicShieldPercent}}%)</span></h5>
        </div>
    </div>
</div>

<!-- Rename Village Modal -->
<div *ngIf="showRenameModal" class="modal-overlay" (click)="closeRenameModal()">
    <div class="rename-modal" (click)="$event.stopPropagation()">
        <h4>Rename Village</h4>
        <input type="text" 
               [(ngModel)]="newVillageName" 
               [maxlength]="maxVillageNameLength"
               placeholder="Enter new village name"
               class="rename-input">
        <div class="char-counter" [class.limit-reached]="newVillageName.length >= maxVillageNameLength">
            {{newVillageName.length}}/{{maxVillageNameLength}}
        </div>
        <p class="success-message" *ngIf="renameSuccess">{{renameSuccess}}</p>
        <p class="error-message" *ngIf="renameError">{{renameError}}</p>
        <div class="modal-actions">
            <button class="action-btn save-btn" (click)="saveVillageName()" [disabled]="renameSaving">
                {{renameSaving ? 'Saving...' : 'Save'}}
            </button>
            <button class="action-btn cancel-btn" (click)="closeRenameModal()">Cancel</button>
        </div>
    </div>
</div>