<div class = "flexContainer toolbarContainer">
    <div class="subContainer" id=production>
        <h4> Production </h4>
        <div class="production-container flex-container"> <img class="material" src="../../../assets/crop.jpg">
            <h5> Crop: {{cropProduction.toFixed(0)}} per hour </h5>
        </div>
        <div class="production-container flex-container"> <img class="material" src="../../../assets/wood.jpg">
            <h5> Wood: {{woodProduction.toFixed(0)}} per hour </h5>
        </div>
        <div class="production-container flex-container"> <img class="material" src="../../../assets/rock.jpg">
            <h5> Stone: {{stoneProduction.toFixed(0)}} per hour </h5>
        </div>
    </div>
    <div class="subContainer" id="villages">
        <h4> Villages </h4>
        <ul>
            <li *ngFor = "let village of villages; let i = index" (click)="switchToVillage(i)" [class.active-li]="i == activeVillage">
                 {{village}} 
            </li>
        </ul>
    </div>
    <div class="subContainer" id=troops>
        <h4> Troops </h4>
        <div class="troops-container flex-container"> <img class="material" src="../../../assets/spear.png">
            <h5> Spear fighters: {{spearFighters}} </h5>
        </div>
        <div class="troops-container flex-container"> <img class="material" src="../../../assets/sword.png">
            <h5> Sword fighters: {{swordFighters}} </h5>
        </div>
        <div class="troops-container flex-container"> <img class="material" src="../../../assets/axe.png">
            <h5> Axe fighters: {{axeFighters}} </h5>
        </div>
        <div class="troops-container flex-container"> <img class="material" src="../../../assets/bow.png">
            <h5> Archers: {{archers}} </h5>
        </div>
        <div class="troops-container flex-container"> <img class="material" src="../../../assets/hat.png">
            <h5> Magicians: {{magicians}} </h5>
        </div>
        <div class="troops-container flex-container"> <img class="material" src="../../../assets/horse.png">
            <h5> Horsemen: {{horsemen}} </h5>
        </div>
        <div class="troops-container flex-container"> <img class="material" src="../../../assets/trebuchet.png">
            <h5> Catapults: {{catapults}} </h5>
        </div>
    </div>
    <div class="subContainer" id="clanTroops" *ngIf="hasClanTroops">
        <h4> Clan Support </h4>
        <div class="troops-container flex-container" *ngIf="clanSpearFighters > 0"> <img class="material" src="../../../assets/spear.png">
            <h5> Spear: {{clanSpearFighters}} </h5>
        </div>
        <div class="troops-container flex-container" *ngIf="clanSwordFighters > 0"> <img class="material" src="../../../assets/sword.png">
            <h5> Sword: {{clanSwordFighters}} </h5>
        </div>
        <div class="troops-container flex-container" *ngIf="clanAxeFighters > 0"> <img class="material" src="../../../assets/axe.png">
            <h5> Axe: {{clanAxeFighters}} </h5>
        </div>
        <div class="troops-container flex-container" *ngIf="clanArchers > 0"> <img class="material" src="../../../assets/bow.png">
            <h5> Archers: {{clanArchers}} </h5>
        </div>
        <div class="troops-container flex-container" *ngIf="clanMagicians > 0"> <img class="material" src="../../../assets/hat.png">
            <h5> Magicians: {{clanMagicians}} </h5>
        </div>
        <div class="troops-container flex-container" *ngIf="clanHorsemen > 0"> <img class="material" src="../../../assets/horse.png">
            <h5> Horsemen: {{clanHorsemen}} </h5>
        </div>
        <div class="troops-container flex-container" *ngIf="clanCatapults > 0"> <img class="material" src="../../../assets/trebuchet.png">
            <h5> Catapults: {{clanCatapults}} </h5>
        </div>
    </div>
</div>