<div id="mainPanel">
  <div class="game-world-wrapper">
    <div class="game-world">
      <div class="game-container">
        <img id="village" src="assets/game-background.png" />

        <!-- Weather Effects Overlay -->
        <div class="weather-overlay" *ngIf="isRaining || isSnowing">
          <!-- Rain Effect -->
          <div
            class="rain-container"
            [class.fading]="isRainFading"
            *ngIf="isRaining"
          >
            <div
              *ngFor="let drop of rainDrops"
              class="rain-drop"
              [style.left.%]="getRandomLeft(drop)"
              [style.animationDelay.s]="getRandomDelay(drop)"
              [style.animationDuration.s]="getRandomDuration(drop, 0.5)"
            ></div>
          </div>

          <!-- Snow Effect -->
          <div
            class="snow-container"
            [class.fading]="isSnowFading"
            *ngIf="isSnowing"
          >
            <div
              *ngFor="let flake of snowFlakes"
              class="snow-flake"
              [style.left.%]="getRandomLeft(flake)"
              [style.animationDelay.s]="getRandomDelay(flake)"
              [style.animationDuration.s]="getRandomDuration(flake, 5)"
            ></div>
          </div>
        </div>
      </div>

      <div
        id="centerBuildingLevel"
        class="buildingLevels"
        [ngClass]="
          hoveredBuildingIndex == 0
            ? 'selectedBuildingLevel'
            : 'unselectedBuildingLevel'
        "
      >
        {{ village.buildingsLevels.centerBuildingLevel }}
      </div>

      <div
        id="woodWarehouseLevel"
        class="buildingLevels"
        [ngClass]="
          hoveredBuildingIndex == 1
            ? 'selectedBuildingLevel'
            : 'unselectedBuildingLevel'
        "
      >
        {{ village.buildingsLevels.woodWarehouseLevel }}
      </div>

      <div
        id="woodFactoryLevel"
        class="buildingLevels"
        [ngClass]="
          hoveredBuildingIndex == 2
            ? 'selectedBuildingLevel'
            : 'unselectedBuildingLevel'
        "
      >
        {{ village.buildingsLevels.woodFactoryLevel }}
      </div>

      <div
        id="stoneWarehouseLevel"
        class="buildingLevels"
        [ngClass]="
          hoveredBuildingIndex == 3
            ? 'selectedBuildingLevel'
            : 'unselectedBuildingLevel'
        "
      >
        {{ village.buildingsLevels.stoneWarehouseLevel }}
      </div>

      <div
        id="stoneMineLevel"
        class="buildingLevels"
        [ngClass]="
          hoveredBuildingIndex == 4
            ? 'selectedBuildingLevel'
            : 'unselectedBuildingLevel'
        "
      >
        {{ village.buildingsLevels.stoneMineLevel }}
      </div>

      <div
        id="cropWarehouseLevel"
        class="buildingLevels"
        [ngClass]="
          hoveredBuildingIndex == 5
            ? 'selectedBuildingLevel'
            : 'unselectedBuildingLevel'
        "
      >
        {{ village.buildingsLevels.cropWarehouseLevel }}
      </div>

      <div
        id="cropFarmLevel"
        class="buildingLevels"
        [ngClass]="
          hoveredBuildingIndex == 6
            ? 'selectedBuildingLevel'
            : 'unselectedBuildingLevel'
        "
      >
        {{ village.buildingsLevels.cropFarmLevel }}
      </div>

      <div
        id="arsenalLevel"
        class="buildingLevels"
        [ngClass]="
          hoveredBuildingIndex == 7
            ? 'selectedBuildingLevel'
            : 'unselectedBuildingLevel'
        "
      >
        {{ village.buildingsLevels.arsenalLevel }}
      </div>

      <div
        id="quartersLevel"
        class="buildingLevels"
        [ngClass]="
          hoveredBuildingIndex == 8
            ? 'selectedBuildingLevel'
            : 'unselectedBuildingLevel'
        "
      >
        {{ village.buildingsLevels.quartersLevel }}
      </div>

      <div
        id="wallLevel"
        class="buildingLevels"
        [ngClass]="
          hoveredBuildingIndex == 9
            ? 'selectedBuildingLevel'
            : 'unselectedBuildingLevel'
        "
      >
        {{ village.buildingsLevels.wallLevel }}
      </div>

      <div
        id="embassyLevel"
        class="buildingLevels"
        [ngClass]="
          hoveredBuildingIndex == 10
            ? 'selectedBuildingLevel'
            : 'unselectedBuildingLevel'
        "
      >
        {{ village.buildingsLevels.embassyLevel }}
      </div>

      <div
        id="academyLevel"
        class="buildingLevels"
        [ngClass]="
          hoveredBuildingIndex == 11
            ? 'selectedBuildingLevel'
            : 'unselectedBuildingLevel'
        "
      >
        {{ village.buildingsLevels.academyLevel }}
      </div>

      <div
        id="stableLevel"
        class="buildingLevels"
        [ngClass]="
          hoveredBuildingIndex == 12
            ? 'selectedBuildingLevel'
            : 'unselectedBuildingLevel'
        "
      >
        {{ village.buildingsLevels.stableLevel || 0 }}
      </div>

      <!-- Building Hitboxes (percentage-based clip-path polygons, sanitized for Angular) -->
      <div
        *ngFor="let polygon of sanitizedPolygons; let i = index"
        class="building-hitbox"
        [style.clip-path]="polygon"
        (click)="handleClickedBuilding(i)"
        (mouseenter)="handleHoveredBuilding($event, i)"
        (mouseleave)="handleMouseLeave()"
      ></div>
    </div>
  </div>

  <app-movements></app-movements>
  <app-right-toolbar></app-right-toolbar>
</div>
