$chooseTroopsPanelWidth: 700px;
$chooseTroopsPanelHeight: 297.8px;
$topToolbarHeight: max(7.5vh, 75px);
$MaybeNegativeAttackPanelLeft: calc((100% - $chooseTroopsPanelWidth) / 2);
$MaybeNegativeattackPanelTop: calc((100% - $chooseTroopsPanelHeight) / 2 + $topToolbarHeight / 2);
$attackPanelLeft: max($MaybeNegativeAttackPanelLeft, 0px);
$attackPanelTop: max($MaybeNegativeattackPanelTop, $topToolbarHeight);

.attackContainer{
    height: fit-content;
    left: $attackPanelLeft;
    top: $attackPanelTop;
    max-width: 100%;
    max-height: 50%;
    box-shadow: 1px 1px 3px 3px;
    position: absolute;
    flex-wrap: nowrap;
}

.round-square{
    border-radius: 7px;
}

#actions{
    display: flex;
}

.center{
    align-self: center; 
    align-items: center;
}

h4{
    margin-top: 25px;
}

.buttons {
    background-image: url(../../../assets/top-bg.png);
    border: 1px black solid;
    outline: none;
    border-radius: 0.25rem;
    box-shadow: 2px 2px 2px 2px;
    margin: 25px 15px 25px 15px;
    width: 100px;
}
