.loginContainer{
    width: 100%;
    height: 100vh;
    min-height: 500px;
}
#loginText{
    align-self: center;
    margin-bottom: 25px;
    margin-top: 30vh;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;

    .btn {
        width: 100px;
    }
}