html, body {
    margin: 0;
    padding: 0;
    overflow: auto;
    background-image: url("./assets/right-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

body {
    margin: 0;
}

.flexContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    background-image: url("./assets/right-bg.jpg");
    overflow: auto;
}
